.container {
  display: flex;
  justify-content: center;  /* Centraliza horizontalmente */
  align-items: center;      /* Centraliza verticalmente */
  height: 100vh;            /* Garante que o container ocupe a tela toda */
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;         /* Espaçamento entre os inputs */
  padding: 30px;
  border-radius: 20px;
  max-width: 50%;
  width: 400px;
  margin-bottom: 20px;
  background-color: cadetblue;
}

h1 {
  font-size: 32px;
  text-align: center;
}

input {
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
  background-color: rgb(95, 160, 136);
}

button {
  border-radius: 30px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
